@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }
  body {
    @apply m-0 min-h-screen bg-zinc-950 text-zinc-200 font-sans antialiased;
  }
  #root {
    @apply flex h-screen flex-col overflow-hidden;
  }
}
